.navbar-default
{
    background-color:#2E86C1;   
}
.navbar-default .navbar-nav > li > a
{
    color:white;
}
input[type=text]:focus
  {
      outline:none;
  }
.your-class p
{
    font-weight:bolder;
    text-align:center;
    font-size:2vw;
}
.navbar
{
    margin-bottom:0px;
    height:10px;
}
.your-class div a
{
    text-decoration:none;
}
.horizontal-lining
{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:1vw 0;
}
@media only screen and (min-width:900px) 
{
    .your-class img{
        height:22vw;
    }
    #latest-stories .box
    {   border:1px;
        border-radius:2px;
        margin:0 1.5vw;
        overflow-y: auto;
        width:20vw;
        min-height:24vw;
        background-color:#F8F8F8;
    }
    #latest-stories .box p{
        min-height:6vw;
        font-size:1.2vw;
        font-family:'Playfair Display';
        color:black;
        font-weight:1100;
    

    }
    #latest-stories .box div{
        min-height:17vw;
    }
    .icons i:hover
    {
        transform:rotate(360deg)
    }

    .footer
    {
        color:white;
        background-color:#2E86C1;
        min-height:150px;
    }
    .upalab
    {
        height:7vw;
        width:40%;
        display:inline-block;
        margin-left:29%;
        margin-right:15%;
    }
    .searchbar
    {
        border-radius:7px;
        width:15%;
    }
}
@media(max-width:900px)
{
    .navigation
    {
        height:20px;
    }
    .upalab
    {
        height:50px;
        width:60%;
        display:inline-block;
        margin-left:19%;margin-right:15%;
    }
   #wi
   {
       width:103%;
   }
    .your-class img
   {
       height:170px;
   }
    body
    {
        overflow-x: hidden;
    }
    #latest-stories .box
        {
            
            overflow-y: auto;
            width:70%;
            min-height:280px;
            background-color:#F8F8F8;
            margin-left:12%;
            margin-bottom:10px;
            box-shadow: 0 2px 4px 0 grey;
        }
    #latest-stories .box p
        {
             min-height:50px;
             color:black;
        }
    #latest-stories .box div
        {
            min-height:217px;   
        }
    .horizontal-lining
        {
            font-size:15px;
        }
    .footer
        {
            color:white;
            background-color:#2E86C1;
            min-height:550px;
        }
    .icons i
        {
            margin-right:30px;
            transition: transform 1s;
            color:white;
        }
    .searchbar
        {
            border-radius:7px;
            width:90%;
            margin-left:5%;
        }

}



.icons a
{
text-decoration:none;
}
.icons i{

transition: transform 1s;
color:white;
}


.navbar
{
    min-height: 80px;
}
  
.navbar-toggle
{
    margin-top: 23px;
    padding: 9px 10px !important;
}
  
@media (min-width: 768px)
{
    .navbar-nav > li > a
    {
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}

.photo
{
   display:none;
}
.photo:hover p
{
  display:inline-block;
}